@import "tailwindcss";

:root {
  --background: #fdfcfc;
  --foreground: #2c2c2c;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
